/* *{
	margin: 0 auto;
	} */
.section1{
	background-color:#2c3958;
	padding: 30px;
	/* width: 100%; */
}
nav ul{
	margin: 0px;
	padding: 10px;
}
nav li{
	list-style: none;
	float:left;
}
nav a{
	display:inline-block;
	text-decoration:none;
	padding:6px;
	color: black;
	font-size: 25px;
}
nav a:hover
{
	text-decoration: underline;
}
 .table{
	display:table;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
}
/* .table1{
	display:table;
	margin: 0 auto;
	margin-right:8px; 
} */ 
h1{
	font-size:40px;
	color:#5e9ee6;

} 
.rightexp{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.class1{
	display: flex;
	flex-direction: column;
}

	.leftexp{
	width: 100px;
	float: left;
	height: 20px;
	margin: 36px;
}
.leftexp1{
	width: 20px;
	float: left;
	padding: 10px;
}
.leftexp img{
	width: 100%;
	max-width: 400px;
}
p{
	font-size:15px;
	color: white;

}
.h2{
	color:#5e9ee6;
}
.section2{
	padding: 20px;
	text-align: center;
}
.papi{
	text-align:center;
	height:350px;
	width: 460px;
}
.img3,.img4{
	height: 20px;
}
.img2{
	height:30px;
}
.div1,.div2{
	display: flex;
	justify-content: center;
	align-items: center;
	display:inline-block;
	text-decoration:none;
	padding:2px 3px;
	gap: 30px;
}
.input1{
	border-radius:30px;
	border:1px none ;
	height:40px;
	width:205px;
	font-size: 23px;
	color: white;
	background-color:#9C83F6;
}
.input2{
	border-radius:40px;
	border:1px none ;
	min-height: 16%;
	min-width:1%;
	text-align:center;
	background-color:#9C83F6;
	color: white;
	margin-left:799px; 
	margin-top: -30px;
	font-size: 20px;
}
.input3{
	flex-direction: column;
	width: 300px;
	position: relative;
	right: 130px;

}
.input4{
	flex-direction: column;
}
.section3{
	padding: 30px;
}
b{
	color: #646bce;
}
.img1{
	/* height: 20px;
	margin-top: -8px;
	margin: 8px; */
}
.img6{
	height: 280px;
	width: 280px;
	/* position: relative;
	right: 210px; */
	
}
.h2{
	color:#5e9ee6;
	font-size: 25px;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
textarea{
	min-width: 35%;
	min-height: 40%;
	margin-right: 700px;
}
form{
	background-color:#2c3958;;
	text-align: center;
	height: 100px;
	font-size: 15px;
	padding-top: 20px;
}
.label{
	padding:10px;
	color: white;
	
}
.class2{
	display: flex;
	flex-direction: column;
	position: relative;
	right: 300px;
}
.class3{
	display: flex;
	flex-direction: column;
	/* justify-content: flex-end; */
	position: relative;
	left: 300px;
}
	.label1{
	margin-top: -60px;
	margin-left: 918px;
} 
	@media screen and (max-width:600px){
		.nav ul{
			display: flex;
			flex-direction: column;
		}
		.rightexp{
			display: flex;
			flex-direction: column;
		}
		.class1{
			display: flex;
			justify-content: flex-start;
		}
	}
	@media screen and (max-width:758px){
		.nav ul{
			display: flex;
			flex-direction: column;
		}
		.rightexp{
			display: flex;
			flex-direction: column;
		}
		.class1{
			display: flex;
			justify-content: flex-start;
		}
	}
	@media screen and (max-width:900px){
		.nav ul{
			display: flex;
			flex-direction: column;
		}
		.rightexp{
			display: flex;
			flex-direction: column;
		}
		.class1{
			display: flex;
			justify-content: flex-start;
		}
	}